<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li class="active">Sign-In</li>
    </ul>
    <h3> LOGIN</h3>
    <div class="well">
        <form action="#">
            <div class="row" style="margin: auto;">
                <div class="span9">
                    <div class="control-group">
                        <label class="control-label" for="input_email">Email <sup>*</sup></label>
                        <div class="controls">
                            <input type="text" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword1">Password <sup>*</sup></label>
                        <div class="controls">
                            <input type="password" id="password" name="email" placeholder="Password">
                        </div>
                    </div>
                    <input class="btn  btn-success" type="submit" id="submit" value="Sign-in" style="margin: auto;" />
                    <p>Not a User: Sign-Up</p>
                    <a href="/register" class="btn btn-primary"> Sign-Up</a>


                </div>

            </div>
        </form>
    </div>
</div>